<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Housing Affordability</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://d3js.org/d3.v4.min.js"></script>
    <script src="./static/queue.min.js"></script>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" rel="stylesheet">
</head>
<style>
    body {
    background-color: whitesmoke;
}

h1 {
    font-family: 'Courier New', Courier, monospace;
    font-size: 24pt;
    color: lightblue;
}

#map { 
    width: 1200px; 
    height: 600px; 
    
    }
/* SVG styling */
svg { background-color: whitesmoke; }
text { fill: #cbcbcb; font-size: 24px; }
#states { fill: #343a40; stroke: grey; stroke-width: 0.5px; }

#selected { fill: lightcoral;}
.svg-container {
    display: inline-block;
    position: relative;
    width: 100%;
    padding-bottom: 100%;
    vertical-align: top;
    overflow: hidden;
}
.svg-content {
    display: inline-block;
    position: absolute;
    top: 0;
    left: 0;
}

</style>

<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="#">HousingAffordability.viz</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor02" aria-controls="navbarColor02"
            aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarColor02">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" href="/">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/about">About</a>
                </li>
            </ul>
        </div>
    </nav>
    <center>
    <div id="inputdiv">
        <p>Type a zip code
            <br>Space to clear entry
        </p>
    </div></center>
    <div id="container" class="svg-container"></div>

    <script>
        /* Defining the width and height of svg */
        var width = 1200, height = 600;
        var instructions = "", selectedZip = "";
        var medSales = "", salary = "", hAI = "";
        /* Creating a geoAlbersUsa projection which provides us
        our basic US map feature */
        var proj = d3.geoAlbersUsa().scale(1200)
            .translate([width / 2, height / 2]);

        
        /* Creating the geoPath which will draw out our map based
        on input data*/
        var path = d3.geoPath().projection(proj);
        /* Setting up a Queue which will read in our requied data before
        executing the render function */
        queue()
            .defer(d3.json, "./static/us-states.geojson")
            .defer(d3.json, "./static/zipData.json")
            .await(render);

        function key() {
            var code = d3.event.keyCode;

            if (code == 32) {
                //Space: clear code
                updateSelection("");
            } else if (code == 37 || code == 8) {
                //Backspace or left arrow: remove one number
                if (selectedZip.length > 0) {
                    updateSelection(selectedZip.substr(0,selectZip.length - 1));
                }
                // Prevent the browser from going back in the URL history
                d3.event.preventDefault();
            } else if (code >= 48 && code <= 57) {
                // number keys
                appendToSelection(String.fromCharCode(code))
            } else if (code >= 96 && code <= 105) {
                //numeric keypad
                appendToSelection(String.fromCharCode(code-48));
            }
        };

        function appendToSelection(digit) {
            if (selectedZip.length < 5) {
                updateSelection(selectedZip + "" + digit);
            }
        };

        function updateSelection(n) {
            selectedZip = n;
            var l = selectedZip.length;

            var t = l > 0 ? selectedZip : instructions;
            d3.select("#selected").text(t);
            
            if (l === 5) {
                url = "/getZipInfo/" + selectedZip;
                d3.json(url, function (error, data) {
                    medSales = data[0].MedianSalesPrice;
                    salary = data[0].QualifyingIncome;
                    hAI = data[0].HousingAffordabilityIndex;
                    updateText(medSales, salary, hAI);
                });
            };
            
        };

        function updateText(medSales, salary, hAI) {
            d3.select("#medsales").text("$" + medSales);
            d3.select("#salary").text(salary);
            d3.select("#hAI").text(hAI);
        };
        /* Defining the render function which will take the input data
        build out the map and then populate the map with points for each
        zip code */
        function render(error, states, sales) {
            /*This appends an SVG to the container div*/
            var svg = d3.select("#container").append("svg")
                .attr("preserveAspectRatio", "xMinYMin meet")
                .attr("viewBox", "0,0,1200,600")
                .classed("svg-content", true)
                /*.call(d3.zoom().on("zoom", function () {
                    svg.attr("transform", d3.event.transform)
                }))
                .append("g")*/;

            svg.append("text").attr("id", "selected")
                .text(instructions)
                .attr("x", 20).attr("y", 50);

            /*This appends a D3 div g to the SVG div and then adds
            US states to the SVG*/
            svg.append("g").attr("id", "states");
            d3.select("#states").selectAll("path")
                .data(states.features)
                .enter().append("path")
                .attr("d", path)
            
            /* This creates a color scale which will be used on our Housing
            Affordability Index to color the zip code points */
            color = d3.scaleLinear().domain([0, 300]).range(["red", "yellow"]);
            /* This adds our zip code dots with the color code based on 
            housing affordability index */
            svg.append("g").attr("id", "zipdots");
            d3.select("#zipdots").selectAll("circle")
                .data(sales)
                .enter().append("circle")
                .attr("cx", function (d) { var p = proj([d.Longitude, d.Latitude]); return p ? p[0] : null; })
                .attr("cy", function (d) { var p = proj([d.Longitude, d.Latitude]); return p ? p[1] : null; })
                .attr("r", 1)
                .style("fill", function (d) {
                    return color(d.HousingAffordabilityIndex);
                });

            svg.append("text").attr("id", "selected")
                .text("Median Sales Price: ")
                .attr("x", 20).attr("y", 300)
                .style("font-size", 16);

            svg.append("text").attr("id", "medsales")
                .text(medSales)
                .attr("x", 20).attr("y", 320)
                .style("font-size", 16)
                .style("fill", "lightcoral");
            
            svg.append("text").attr("id", "selected")
                .text("Salary Required: ")
                .attr("x", 20).attr("y", 340)
                .style("font-size", 16);
            
            svg.append("text").attr("id", "salary")
                .attr("class", "salary")
                .text(salary)
                .attr("x", 20).attr("y", 360)
                .style("font-size", 16)
                .style("fill", "lightcoral");

            svg.append("text").attr("id", "selected")
                .text("Housing Affordability Score: ")
                .attr("x", 20).attr("y", 380)
                .style("font-size", 16);
            
            svg.append("text").attr("id", "hAI")
                .text(hAI)
                .attr("x", 20).attr("y", 400)
                .style("font-size", 16)
                .style("fill", "lightcoral");
            
            svg.append("rect")
                .attr("x", 960).attr("y", 360)
                .attr("width", 225).attr("height", 50)
                .attr("fill","#343a40");

            svg.append("text").attr("id", "selected")
                .text("Least Affordable Zip Codes")
                .attr("x", 980).attr("y", 380)
                .style("font-size", 16)
                .style("fill", ()=> {return color(0)});

            svg.append("text").attr("id", "selected")
                .text("Most Affordable Zip Codes")
                .attr("x", 980).attr("y", 400)
                .style("font-size", 16)
                .style("fill", ()=> {return color(300)});

            d3.select("body").on("keydown", key);
        };

    </script>
</body>

</html>